/*change cards background image*/
/*home page*/
.flag1{
    background-image: url();
}
.flag2{
    background-image: url();
}
.flag3{
    background-image: url();
}
/*contact page*/
.contact1{
    background-image: url();
}
.contact2{
    background-image: url();
}
.contact3{
    background-image: url();
}